.cards-page .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #fff;
    border-radius: 14px;
    width: 1040px;
    height: 149px;
    position: absolute;
    bottom: -240px;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(164, 164, 164, 0.679);
    z-index: 12;
}

.cards-page .cards h3 {
    font-weight: 700;
    font-size: 34px;
    line-height: 41.15px;
    color: #222D50;
}

.cards-page .cards h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24.2px;
    color: #222D50;
}

.cards-page .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

@media (max-width:1200px) {
    .cards-page .cards {
        width: 930px;
    }
}

@media (max-width:1024px) {
    .cards-page .cards {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -263px;
        margin: 0px auto;
        width: 412px;
        height: auto;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        box-shadow: none;
        background-color: transparent;
    }

    .cards-page .cards .card {
        box-shadow: 0 0 10px rgba(164, 164, 164, 0.679);
        width: 200px;
        height: 120px;
        text-align: center;
    }

}

@media (max-width:768px) {
    .cards-page {
        height: auto;
        padding: 20px;
    }

    .cards-page .cards {
        width: auto;
        height: auto;
        position: static;
        padding: 0;
        box-shadow: none;
        grid-template-columns: 1fr;
        margin-top: 30px;
    }

    .cards-page .cards .card {
        width: 100%;
        height: auto;
        padding: 20px;
        flex-direction: row-reverse;
    }

    .cards-page .cards h3 {
        margin-left: 20px;
    }
}